@use "general";
@use "header";

img {
    width: 300px;
}

#pokemon_arena {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#flee_button {
    margin-top: 50px;
    font-size: 1.5rem;
}

.pokemon_card {
    width: 90%;
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 330px 50px 50px 50px;
}